<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/jquery.rotate.min.js"></script>
<style>
.shopleft{
	background: #333333;
	position: fixed;
	top: 0px;
	left:0px;
	width: 240px;
	height: 638px;
}
.lefthead{
	background:#222222;
	height: 200px;
	width: 100%;
	position: absolute;
	color: #FFFFFF;
}
.headurl{
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: 50%;
    overflow:hidden ;
    left: 80px;
    top:15px
}
.username{
	margin-top: 120px;
	text-align: center;
}
.userOper{
	font-size: 13px;
	margin-top: 0px;
	margin-right: 20px;
	float: right;
}
.Opertion{
	line-height: 73px;
	height: 73px;
	color: #FFFFFF;
	margin-top: 200px;
	width: 100%;
}
.logo{
	width: 30px;
	float: left;
    margin-top: 15px;
    margin-left: 50px;
}
.OpertionNext{
	line-height: 73px;
	height: 73px;
	color: #FFFFFF;
	width: 100%;
}
</style>

<div class="shopleft">
	<div class="lefthead">
		<div class="headurl">
			<img class="tupian" src="/images/upload_155240b8e5070c92859b08292c1009ed.png"  width="100px"/>
		</div>
		<div class="username">
			<p>用户名</p>
		</div>
		<div class="userOper">
			<p style="color: gray;">修改  注销</p>
		</div>
	</div>
	<div class="Opertion" ><img class="logo" src='/images/user.png' width="28px" ><span style="margin-left: 20px;">店员管理</span></div>
	<div class="OpertionNext" ><img class="logo" src='/images/user.png' width="28px" ><span style="margin-left: 20px;">店员管理</span></div>
	<div class="OpertionNext" ><img class="logo" src='/images/user.png' width="28px" ><span style="margin-left: 20px;">店员管理</span></div>
	
</div>